@charset "utf-8";
@font-face {
    font-family: Quicksand;
 /*   src: url('Quicksand-Regular.woff') format('woff'),*/
    url('static/Quicksand-Regular.ttf') format('truetype');
}

html {
    background-color: hsl(27,72%,72%);
}
body {
    color: rgb(91,91,91);
    background-color: ivory;
    font-family: Verdana, sans-serif;
}

h1 {
    color: white;
    background-color: rgb(222,128,60);
    font-size: 2.2em;
}

h2 {
    color: white;
    background-color: rgb(235,177,131);
    font-size: 1.5em;
}
h1, h2 {
    font-family: Quicksand, Verdana, Geneva, sans-serif;
}

aside blockquote {
    color: rgb(232, 165,116);
}

nav > ul {
    line-height: 2em;

}
nav >ul > li.newgroup {
    list-style-type: none;
    padding-left:  5px;
}
nav> ul >li >a:visited, nav > ul > li >a:link {
    color: rgb(151,151,151);
    text-decoration: none;
}
nav> ul >li >a:hover, nav > ul > li >a:active {
    color: rgb(255,64,255);
    text-decoration: underline;
}

body > footer address {
    background-color: rgb(222,128,60);
    color: rgba(155,155,155,0.7);
    font: normal small-caps bold 0.9em/3em Verdana, sans-serif;
    text-align: center;
}

article#about_tss ul li:first-of-type {
    list-style-image: url("key.png");
}
article#about_tss ul li:nth-of-type(2){
    list-style-image: url("patch.png");
}
article#about_tss ul li:last-of-type{
    list-style-image: url("sound.png");
}

aside blockquote {
    quotes: "\281C" "\281D";
}
aside blockquote:before {
    content: open-quote;
    font-family: "Times New Roman", "Times New Roman",serif;
    font-size: 1.6em;
    font-weight: bold;
}
aside blockquote:after {
    content: close-quote;
    font-family: "Times New Roman", "Times New Roman",serif;
    font-size: 1.6em;
    font-weight: bold;
}


