*{
	padding: 0;
	margin: 0;
}
html {
	background-color: rgb(235, 177, 131);
	background-color: hsl(27, 72%, 72%);
}
img {
	border:0;
}
body {
	
}

body {
	color: rgb(91, 91, 91);
	background-color: ivory;
	font-family: Verdana, Geneva, sans-serif;
}

h1 {
	font-size: 2.2em;
}

h2 {font-size: 1.5em;}

h1, h2 {
	font-family: Quicksand, Verdana, Geneva, sans-serif;
	letter-spacing: 0.1em;
}

aside blockquote {
	color: rgb(232, 165, 116);
}

nav > ul {
	line-height: 2em;
}

body > footer address {
	background-color: rgb(222,128,60);
	color: rgba(255, 255, 255, 0.7);
	font: normal small-caps bold 0.9em/3em
	Quicksand, Verdana, Geneva, sans-serif;
	text-align: center;
}
header h1 {
	color: red;
}
aside blockquote {
	color: rgb(232, 165, 116);
}

article#about_tss h1 {
	color: white;
	background-color: rgb(235, 128, 60);
}

article #about_tss h2 {
	color: white;
	background-color: rgb(222, 177, 131);
}
article.syllabus h1, article.syllabus h2 {
	background-color: rgb(255, 185, 255);
	color: rgb(101, 101, 101);
}
