body {
    background:#f60;
}
.border{
    margin:100px;
    background:#ffc;
    position:relative;
    overflow:hidden;
}
.border .content{
    padding:20px;
    border: 2px solid #369;
}
.border .png{
    position:absolute;
    width:20px;
    height:20px;
    background:url(./star.png) no-repeat;
/*    background:#000;*/
    left:-10px;
}
.border .lt{
    top:-10px;
}
.border .rt{
    top:-10px;
    margin-left:100%;
}
.border .lb{
    margin-top:-10px;
}
.border .rb{
     margin-top:-10px;
     margin-left:100%;
}
.wide {

}
