<!DOCTYPE HTML>
<html>
<head>
    <title>3 columns</title>
    <meta charset="utf-8">
    <link href="css/common.css" rel="stylesheet" type="text/css">
    <!--[if IE]>
    <link href="ie.css" rel="stylesheet" type="text/css">
    <![endif]-->
</head>
<body>
<div id="container">
    <div id="main">
        <div id="all">
            <div id="out">
                <div id="right">
                    <div id="pic">
                        <img src="pic/08.jpg">
                    </div>
                    right
                </div>
            </div>
            <div id="left">
                <dl>
                    <dt>Оставить заявку</dt>
                    <dd>Заказать подключение к<br> интерету
                    <form action="#">
                        <select name="">
                            <option value="">Выберете</option>
                        </select>
                        <textarea name="">

                            
                        </textarea>
                        <button type="submit">
                            <span>
                                <span>Отравить</span>
                            </span>

                        </button>



                    </form>

                    </dd>
                </dl>


                left
            </div>

        </div>
    </div>
    <div id="header">
        <ul id="menu">
            <li><a href="#" ><span>Контакты</span></a> </li>
            <li><a href="#" ><span>Тарифы</span></a> </li>
            <li><a href="#" ><span>Работа</span></a> </li>
            <li class="on"><a href="#" ><span>Форум</span></a> </li>
            <li><a href="#" ><span>Интреактивный поиск</span></a> </li>

        </ul>
        <div id="logo">
            <a href="/" title="To main">OOO Tecon</a>
            (495)<span> 221-8000</span>

        </div>

        
    </div>
    <div id="footer">
        <b class="border lt"></b>
          <b class="border rt"></b>
    </div>
</div>

<!--[if IE]>
    <link href="css/ie.css" rel="stylesheet" type="text/css">
<style type="text/css">
    #logo{color: red;}
</style>
    <![endif]-->



</body>
</html>