html, body, #container{
    margin:0;
    height:100%;
}

#menu {
    width: 800px;
    height: 200px;
    margin: auto;
    background: #f0f0f0;
}
#menu ul{
    display: table;    
    border-collapse: separate;
    border-spacing: 1px;
    width:100%;
    table-layout: fixed;
    overflow: hidden;
/*    display: table-row;*/
/*    border: 5px solid #666;*/
    list-style: none;
    margin:0;
    padding: 0;/* for all except IE */
}

#menu li{
    display: table-cell;
}
.caption{
    display:table-caption;
}

#menu li a{
    display: inline-block;
    height: 50px;
    line-height: 50px;
    width: 100%;
    text-align: center;
/*    padding: 0 20px;*/
    background: #69c;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

#menu li a:hover {
    background: #369;
}



